<h1>Your Plots</h1>

<% @plots.each do |plot|%>
    <a href="/plots/<%= plot.id %>"><%= plot.title %></a>
    <ul>
        <% plot.characters.each do |character| %>
            <ul> 
                <li><a href="/characters/<%= character.id %>"><%= character.name %></a></li>
                <li><%= character.role %></li>
                <li><%= character.description %></li>
            </ul>
        <% end %>
        <li><p><%= plot.summary%></p></li>
    </ul>
<% end %>

<!-- This is not showing up as an ordered list, but it works for now, so I'll move on.-->